.smaller-pictures__one {
    background-image: url(/img/aquaman.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.smaller-pictures__two {
    background-image: url(/img/cyborg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.smaller-pictures__three {
    background-image: url(/img/batman.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.smaller-pictures__four {
    background-image: url(/img/greenlantern.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.smaller-pictures__five {
    background-image: url(/img/superman.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.smaller-pictures__six {
    background-image: url(/img/theflash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.smaller-pictures__seven {
    background-image: url(/img/wonderwoman.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.smaller-pictures__eight {
    background-image: url(/img/hawkgirl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}